.formstyle{
    margin: auto;
    div{
        display: grid;
        justify-content: center;
        input{
            margin-top: 5px;
            padding: 5px;
            border: 1px solid gray;
            border-radius: 5px;
        }
        .redButton{
            width: 180px;
            margin-top: 10px;
            border: 1px solid gray;
            border-radius: 8px;
            text-align: center;
            padding: 4px;
            color: white;
            background-color: #df1717;

        }
    }
}