.allButton{
    font-family: sans-serif;
    color: beige;
    background-color: rgb(224, 127, 8);
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
    letter-spacing: 2px;
}